<div class="container" >
	<div class="row">

		<div class="col-sm-4" style="background-color: grey">
			<h3>Add Details</h3>
			<label>Id: </label>
			<input class="form-control" type="text" name="" [(ngModel)]="student.id" 
			placeholder="ID" readonly> <br/>
			<label>First Name: </label>
			<input class="form-control" type="text" name="" [(ngModel)]="student.firstName" 
			placeholder="FirstName"> <br/>
			<label>Last Name: </label>
			<input class="form-control" type="text" name="" [(ngModel)]="student.lastName" 
			placeholder="LastName"> <br/>
			<label>Email: </label>
			<input class="form-control" type="text" name="" [(ngModel)]="student.email" 
			placeholder="Email"> <br/>
			<label>Phone: </label>
			<input class="form-control" type="text" name="" [(ngModel)]="student.phone" 
			placeholder="Phone"> <br/>
			<input class="btn btn-success" type="button" name="" value="Add" (click)="addUpdateStudent(student)"> |
			<input class="btn btn-danger" type="button" name="" value="Delete All" (click)="deleteAllStudents()"> | 
			<input class="btn btn-primary" type="button" name="" value="Logout" (click)="logout()">
		</div>

		<div class="col-sm-8">
			<h3>Details</h3>
			<ul>
			  	<li *ngFor="let s of students">
			  		{{s.id}} | {{s.firstName}} | {{s.lastName}} | {{s.email}} | {{s.phone}} | 
			  		<span style="margin-left: 50px">
			  		<input class="btn btn-danger" type="button" name="" value="Delete" (click)="deleteStudent(s)"> |
			  		 <input class="btn btn-primary" type="button" name="" value="Select" (click)="selectStudent(s)"></span>
			  			<hr>
  				</li>

			</ul>
		</div>
	</div>


</div>